@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.article-container {
    perspective: 1000;
    backface-visibility: hidden;
    .loader-container {
        width: 25vw;
        height: 10em;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .article {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        justify-items: center;
        flex-wrap: wrap;
        transition: all 0.5s ease;
        box-sizing: border-box;
        padding: 1em;
        margin: .1em;
        flex-basis: calc(100% - .2em);
        min-height: 10em;
        box-shadow: -10px 10px 10px 0px #c7c7c770;
        font-size: 2vmax;
        animation: fadeIn ease 2s;
        border: 1px solid transparent;
        &:hover {
            z-index: 2;
            background: white;
            transform: translate(0.9em, 0.9em);
            border-color: #c7c7c770;
            transition: all .25s linear;
        }
        .karma {
            padding: 0 5px;
            display: flex;
            align-items: center;
            &::before {
                height: 1em;
                display: flex;
                align-items: center;
                content: '';
                background-image: url('../../icons/thumbs-up.svg');
                background-size: cover;
                height: 1em;
                width: 1em;
                display: inline-block;
                margin-right: .1em;
            }
        }
        .article-karma {
            position: absolute;
            bottom: 1em;
            right: 1em;
        }
        .image {
            flex-basis: 100%;
            box-sizing: border-box;
            overflow: hidden;
            max-height: 20em;
            img {
                height: 100%;
            }
        }
        .content {
            display: flex;
            flex-basis: 100%;
            flex-wrap: wrap;
            .header {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                flex-basis: 100%;
                .title {
                    flex-basis: 100%;
                    margin: 0;
                    text-align: left;
                }
                .timestamp {
                    height: 1em;
                    display: flex;
                    align-items: center;
                    .link-icon {
                        max-height: 100%;
                    }
                }
            }
            .user-data {
                display: flex;
                justify-content: left;
                align-items: flex-end;
                flex-direction: row;
                .name {
                    &::before {
                        content: 'Author: ';
                    }
                }
            }
        }
    }
    @media only screen and (min-width: 767px) {
        .article {
            font-size: 1.5vmin;
            .image {
                flex-basis: 8em;
                height: 8em;
                img: {
                    width: 100%;
                    height: auto;
                }
            }
            .content {
                flex-basis: calc(100% - 9em);
            }
        }
    }
    @media only screen and (min-width: 1023px) {
        .article {
            flex-basis: calc(50% - .2em);
        }
    }
    @media only screen and (min-width: 1441px) {
        .article {
            flex-basis: calc(33.33% - .2em);
        }
    }
}